/CMakeLists.txt
/sources/
/.idea/
/analyze/
/build-all.sh
/mybuild.sh
/mybuild-20.sh
/mybuild-20-ne.sh
/mybuild-amlgx.sh
/mybuild-x86.sh
/cmake-build-debug/
/cef/
/releases/
/commit.body
/packages/vdr/_vdr-plugin-softhdcuvid/patches/interlaced_frame.patch
/packages/vdr/_vdr-plugin-softhddrm/patches/interlaced_frame.patch
/packages/vdr/_vdr-plugin-softhdvaapi/patches/interlaced_frame.patch
