[submodule "LibreELEC.tv"]
	path = LibreELEC.tv
	url = https://github.com/LibreELEC/LibreELEC.tv
[submodule "CoreELEC"]
	path = CoreELEC
	url = https://github.com/CoreELEC/CoreELEC
	branch = coreelec-19
[submodule "release-scripts"]
	path = release-scripts
	url = https://github.com/LibreELEC/release-scripts
