name: Build VDRSternELEC (LibreELEC)

on:
  workflow_dispatch:
  schedule:
    - cron: '01 0 * * 5'

jobs:
  # This workflow is configured to run only in repository 'Zabrimus/VDRSternELEC'
  # If you also want to run this workflow, then change or remove the condition in job 'cron'

  buildtype:
    runs-on: ubuntu-22.04
    outputs:
      type: ${{ steps.get.outputs.type }}

    steps:
      - name: Get type of build
        shell: bash
        id: get
        run: |
          if [ $(date +"%d") -lt 7 ]; then
              echo "type=full" >> "$GITHUB_OUTPUT"
          else
              echo "type=tar" >> "$GITHUB_OUTPUT"
          fi

  cron_tar_12:
    needs: [ buildtype ]
    if: ${{ github.repository == 'Zabrimus/VDRSternELEC' && needs.buildType.outputs.type == 'tar' }}
    uses: ./.github/workflows/build.yml
    with:
      target: "LibreELEC-12"
      defaulttarget: "CoreELEC-20-ng CoreELEC-20-ne CoreELEC-21-ng CoreELEC-21-ne CoreELEC-22-no LibreELEC-12-aarch64-AMLGX LibreELEC-12-aarch64-Allwinner-H6 LibreELEC-12-aarch64-Allwinner-A64 LibreELEC-12-arm-Allwinner-R40 LibreELEC-12-arm-Allwinner-H3 LibreELEC-12-aarch64-Allwinner-H5 LibreELEC-12-aarch64-Rockchip-RK3399 LibreELEC-12-arm-Rockchip-RK3288 LibreELEC-12-aarch64-Rockchip-RK3328 LibreELEC-12-arm-RPi-RPi2-3 LibreELEC-12-aarch64-RPi-RPi4 LibreELEC-12-aarch64-RPi-RPi5 LibreELEC-13-aarch64-AMLGX LibreELEC-13-aarch64-Allwinner-H6 LibreELEC-13-aarch64-Allwinner-A64 LibreELEC-13-arm-Allwinner-R40 LibreELEC-13-arm-Allwinner-H3 LibreELEC-13-aarch64-Allwinner-H5 LibreELEC-13-aarch64-Rockchip-RK3399 LibreELEC-13-arm-Rockchip-RK3288 LibreELEC-13-aarch64-Rockchip-RK3328 LibreELEC-13-arm-RPi-RPi2-3 LibreELEC-13-aarch64-RPi-RPi4 LibreELEC-13-aarch64-RPi-RPi5 LibreELEC-13-aarch64-Rockchip-RK356x LibreELEC-13-aarch64-Rockchip-RK3576 LibreELEC-13-aarch64-Rockchip-RK3588"
      addons: "dvb-latest,channellogos,cefbrowser"
      extras: "easyvdr,remotetranscode"
      extraparameter: "-releaseonly"
      buildbranch: 'master'
    secrets: inherit

  cron_tar_13:
    needs: [ buildtype ]
    if: ${{ github.repository == 'Zabrimus/VDRSternELEC' && needs.buildType.outputs.type == 'tar' }}
    uses: ./.github/workflows/build.yml
    with:
      target: "LibreELEC-13"
      defaulttarget: "CoreELEC-20-ng CoreELEC-20-ne CoreELEC-21-ng CoreELEC-21-ne CoreELEC-22-no LibreELEC-12-aarch64-AMLGX LibreELEC-12-aarch64-Allwinner-H6 LibreELEC-12-aarch64-Allwinner-A64 LibreELEC-12-arm-Allwinner-R40 LibreELEC-12-arm-Allwinner-H3 LibreELEC-12-aarch64-Allwinner-H5 LibreELEC-12-aarch64-Rockchip-RK3399 LibreELEC-12-arm-Rockchip-RK3288 LibreELEC-12-aarch64-Rockchip-RK3328 LibreELEC-12-arm-RPi-RPi2-3 LibreELEC-12-aarch64-RPi-RPi4 LibreELEC-12-aarch64-RPi-RPi5 LibreELEC-13-aarch64-AMLGX LibreELEC-13-aarch64-Allwinner-H6 LibreELEC-13-aarch64-Allwinner-A64 LibreELEC-13-arm-Allwinner-R40 LibreELEC-13-arm-Allwinner-H3 LibreELEC-13-aarch64-Allwinner-H5 LibreELEC-13-aarch64-Rockchip-RK3399 LibreELEC-13-arm-Rockchip-RK3288 LibreELEC-13-aarch64-Rockchip-RK3328 LibreELEC-13-arm-RPi-RPi2-3 LibreELEC-13-aarch64-RPi-RPi4 LibreELEC-13-aarch64-RPi-RPi5 LibreELEC-13-aarch64-Rockchip-RK356x LibreELEC-13-aarch64-Rockchip-RK3576 LibreELEC-13-aarch64-Rockchip-RK3588"
      addons: "dvb-latest,channellogos,cefbrowser"
      extras: "easyvdr,remotetranscode"
      extraparameter: "-releaseonly"
      buildbranch: 'master'
    secrets: inherit

  cron_full_12:
    needs: [ buildtype ]
    if: ${{ github.repository == 'Zabrimus/VDRSternELEC' && needs.buildType.outputs.type == 'full' }}
    uses: ./.github/workflows/build.yml
    with:
      target: "LibreELEC-12"
      defaulttarget: "CoreELEC-20-ng CoreELEC-20-ne CoreELEC-21-ng CoreELEC-21-ne CoreELEC-22-no LibreELEC-12-aarch64-AMLGX LibreELEC-12-aarch64-Allwinner-H6 LibreELEC-12-aarch64-Allwinner-A64 LibreELEC-12-arm-Allwinner-R40 LibreELEC-12-arm-Allwinner-H3 LibreELEC-12-aarch64-Allwinner-H5 LibreELEC-12-aarch64-Rockchip-RK3399 LibreELEC-12-arm-Rockchip-RK3288 LibreELEC-12-aarch64-Rockchip-RK3328 LibreELEC-12-arm-RPi-RPi2-3 LibreELEC-12-aarch64-RPi-RPi4 LibreELEC-12-aarch64-RPi-RPi5 LibreELEC-13-aarch64-AMLGX LibreELEC-13-aarch64-Allwinner-H6 LibreELEC-13-aarch64-Allwinner-A64 LibreELEC-13-arm-Allwinner-R40 LibreELEC-13-arm-Allwinner-H3 LibreELEC-13-aarch64-Allwinner-H5 LibreELEC-13-aarch64-Rockchip-RK3399 LibreELEC-13-arm-Rockchip-RK3288 LibreELEC-13-aarch64-Rockchip-RK3328 LibreELEC-13-arm-RPi-RPi2-3 LibreELEC-13-aarch64-RPi-RPi4 LibreELEC-13-aarch64-RPi-RPi5 LibreELEC-13-aarch64-Rockchip-RK356x LibreELEC-13-aarch64-Rockchip-RK3576 LibreELEC-13-aarch64-Rockchip-RK3588"
      addons: "dvb-latest,channellogos,cefbrowser"
      extras: "easyvdr,remotetranscode"
      extraparameter: "-"
      buildbranch: 'master'
    secrets: inherit

  cron_full_13:
    needs: [ buildtype ]
    if: ${{ github.repository == 'Zabrimus/VDRSternELEC' && needs.buildType.outputs.type == 'full' }}
    uses: ./.github/workflows/build.yml
    with:
      target: "LibreELEC-13"
      defaulttarget: "CoreELEC-20-ng CoreELEC-20-ne CoreELEC-21-ng CoreELEC-21-ne CoreELEC-22-no LibreELEC-12-aarch64-AMLGX LibreELEC-12-aarch64-Allwinner-H6 LibreELEC-12-aarch64-Allwinner-A64 LibreELEC-12-arm-Allwinner-R40 LibreELEC-12-arm-Allwinner-H3 LibreELEC-12-aarch64-Allwinner-H5 LibreELEC-12-aarch64-Rockchip-RK3399 LibreELEC-12-arm-Rockchip-RK3288 LibreELEC-12-aarch64-Rockchip-RK3328 LibreELEC-12-arm-RPi-RPi2-3 LibreELEC-12-aarch64-RPi-RPi4 LibreELEC-12-aarch64-RPi-RPi5 LibreELEC-13-aarch64-AMLGX LibreELEC-13-aarch64-Allwinner-H6 LibreELEC-13-aarch64-Allwinner-A64 LibreELEC-13-arm-Allwinner-R40 LibreELEC-13-arm-Allwinner-H3 LibreELEC-13-aarch64-Allwinner-H5 LibreELEC-13-aarch64-Rockchip-RK3399 LibreELEC-13-arm-Rockchip-RK3288 LibreELEC-13-aarch64-Rockchip-RK3328 LibreELEC-13-arm-RPi-RPi2-3 LibreELEC-13-aarch64-RPi-RPi4 LibreELEC-13-aarch64-RPi-RPi5 LibreELEC-13-aarch64-Rockchip-RK356x LibreELEC-13-aarch64-Rockchip-RK3576 LibreELEC-13-aarch64-Rockchip-RK3588"
      addons: "dvb-latest,channellogos,cefbrowser"
      extras: "easyvdr,remotetranscode"
      extraparameter: "-"
      buildbranch: 'master'
    secrets: inherit
