name: Build VDRSternELEC (LibreELEC Generic)

on:
  workflow_dispatch:
  schedule:
    - cron: '01 0 * * 5'

jobs:
  # This workflow is configured to run only in repository 'Zabrimus/VDRSternELEC'
  # If you also want to run this workflow, then change or remove the condition in job 'cron'

  buildtype:
    runs-on: ubuntu-22.04
    outputs:
      type: ${{ steps.get.outputs.type }}

    steps:
      - name: Get type of build
        shell: bash
        id: get
        run: |
          #if [ $(date +"%d") -lt 7 ]; then
          if [ $(date +"%d") -lt 999 ]; then
              echo "type=full" >> "$GITHUB_OUTPUT"
          else
              echo "type=tar" >> "$GITHUB_OUTPUT"
          fi

  cron_tar:
    needs: [ buildtype ]
    if: ${{ github.repository == 'Zabrimus/VDRSternELEC' && needs.buildType.outputs.type == 'tar' }}
    uses: ./.github/workflows/build.yml
    with:
      target: "LibreELEC-Generic"
      defaulttarget: "LibreELEC-12-x86_64-Generic LibreELEC-12-x86_64-GenericLegacy LibreELEC-13-x86_64-Generic LibreELEC-13-x86_64-GenericLegacy"
      addons: "-"
      extras: "easyvdr,channellogos,remotetranscode,cefbrowser"
      extraparameter: "-releaseonly"
    secrets: inherit

  cron_full:
    needs: [ buildtype ]
    if: ${{ github.repository == 'Zabrimus/VDRSternELEC' && needs.buildType.outputs.type == 'full' }}
    uses: ./.github/workflows/build.yml
    with:
      target: "LibreELEC-Generic"
      defaulttarget: "LibreELEC-12-x86_64-Generic LibreELEC-12-x86_64-GenericLegacy LibreELEC-13-x86_64-Generic LibreELEC-13-x86_64-GenericLegacy"
      addons: "-"
      extras: "easyvdr,channellogos,remotetranscode,cefbrowser"
      extraparameter: "-"
    secrets: inherit
